In [1]:
from kempner.util import create_S
import numpy as np

In [2]:
T=np.array([[1,1,1,2,1,1,1,1,1,1],[1,3,1,2,1,1,1,1,1,1],[1,1,1,2,0,1,1,1,1,1]])

In [3]:
S=create_S(matrix=T, digits=3)
S

{1: {1: {1, 2, 4, 5, 6, 7, 8, 9},
  2: {10,
   11,
   12,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   32,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   54,
   55,
   56,
   57,
   58,
   59,
   60,
   61,
   62,
   64,
   65,
   66,
   67,
   68,
   69,
   70,
   71,
   72,
   74,
   75,
   76,
   77,
   78,
   79,
   80,
   81,
   82,
   84,
   85,
   86,
   87,
   88,
   89,
   90,
   91,
   92,
   94,
   95,
   96,
   97,
   98,
   99}},
 2: {1: {3}, 2: {13, 23, 33, 43, 53, 63, 73, 83, 93}},
 3: {1: set(), 2: {31}}}